* {
	font-family: Arial, 'sans-serif';
}

section {
	border-bottom: 1px solid #ccc;
	padding-bottom: 1rem;
}

h3 {
	margin-bottom: 1rem;
}

#speechlog {
  overflow: auto;
  height: 6em;
  border: 1px solid #aaa;
  width: -moz-calc(100% - 200px);
  float: right;
}

#speechlog li {
}

#screen-reader-controls {
  width: 150px;
  float: left;
}